* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: thistle;
    color: black;
    height: 100vh;
}

/* h1,
h2 {
    /* margin: 25px; */
} */

main {
    flex: 1;
    padding: 60px
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:rgb(1, 191, 197);
}

header,
footer {
    
    /* height: 60px; */
    width: 100%;
    /* line-height: 60px; */
    background-color: rgb(255, 252, 242);
}

header {
    flex: 1;
    position: fixed;
    border-bottom: 10px dotted rgb(1, 191, 197);
}
/* already default */
.profile-info {
    display: block;
}

.profile-info img {
    display: inline;
    width: 25%;
    margin: 50px 0 25px 5px;
}

.profile-name {
    display: inline-block;
} 

.profile-info .info-box {
    display: inline;
    width: 65%;
    height: 300px;
    /* margin: 50px 0 25px 5px; */
}

.row {
    display: block;
    width: 100%;
}

.row img {
    display: inline;
    width: 28%;
    max-height: 350px
}

footer {
    flex: 1;
    /* position: absolute; */
    position: relative;
    /* margin-top: 0; */
    bottom: 0;
    border-top: 10px solid rgb(1, 191, 197);
    color: rgb(1, 191, 197);    
}

.nav-right {
    float: right;
}

.contact-info {
    float: right;
    bottom: 0;
    position: relative;
}

