.root {

}
 

body {
   background-image: url(JPCW-background.jpg);
}

header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(185, 137, 175);
    height: 220px;
    width: 100%;
}

.header-container {
    width: 100%;
    height: 10px;
    padding: 25px 40px;
}

.header-container img{
    height: 148px 222px;
    border-radius: 8px;
    border: 8px solid rgb(238,219,232);
    box-shadow: rgb(238, 219, 232) -30deg;
    border-color: beige 3px;
}

.profile-info {
    
    vertical-align: top;
    width: 555px;
    height: 226px;
    
    margin:5px;
}

.info-box {
    margin:0;
    padding: 3px 10px 3px 0;
}

.profile-name {
    font-size: 72px;
    font-weight: bold;
    color: thistle;
}

.company-name {
    font-size:  20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: thistle;
}

.nav-right {
    float:right;
    position: relative;
}

main {
    display: grid;
    height: 800px;
}

.cherry-blossom {
    background-image: url(../JPCW-background.jpg);
    opacity: 50%;
    zoom: 50%;
}
main > div {
    border: brown 5px solid;
}

h3,
article {
    text-align: center;
}

footer {
    background-color: beige;
    margin-bottom: 0px;
    position: relative;
    height: 40px;
}

.contact-info {
    float: right
}