* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("JPCW-background.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: thistle;
    color: black;
    height: 100vh;
}

/* h1,
h2 {
    /* margin: 25px; */
} */

main {
    flex: 1;
    padding: 60px
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color:rgb(1, 191, 197);
}

header,
footer {
    
    /* height: 60px; */
    width: 100%;
    /* line-height: 60px; */
    background-color: rgb(255, 252, 242);
}

header {
    flex: 1;
    position: fixed;
    border-bottom: 10px solid rgb(1, 191, 197);
}

.profile-info {
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    object-fit: cover;
}

.profile-info img {
    /* display: block; */
    /* display: inline; */
    width: 25%;
    margin: 50px 0 25px 5px;
    object-fit: cover;
}

/* .profile-name {
    display: inline-block;
}  */

.profile-info .info-box {
    display: inline;
    width: 65%;
    height: 300px;
    margin: 50px 0 25px 5px; 
}

.about-me {
    /* align-content: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

h3, 
article, 
p {
  text-align: center;
}

section p{
    text-align: center;
}

.row {
    /* flex-direction:row; */
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-left: 4%;
}

.row img {
    /* display: inline; */
    width: 27%;
    margin: 1%;
    padding: 1%;
    max-height: 635px;
}

/* .row2 {
    flex-direction:row; 
    display: flex;
    width: 100%;
} */

.row2 img {
    /* display: inline; */
    width: 42%;
    margin: 1%;
    padding: 1%;
    max-height: 635px;
}

/* .row1 { 
    flex-direction:row;
    display: block;
    width: 100%;
} */

.row1 img {
    
    width: 95%;
    max-height: 635px
}

footer {
    flex: 1;
    /* position: absolute; */
    position: relative;
    /* margin-top: 0; */
    bottom: 0;
    border-top: 10px solid rgb(1, 191, 197);
    color: rgb(1, 191, 197);    
}

.nav-right {
    float: right;
}

.contact-info {
    float: right;
    bottom: 0;
    position: relative;
}

@media screen and (max-width: 992px) {
    .row img{
        width: 90%
    }
    
}